*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    scroll-behavior: smooth;
}
:root{
--sage:#b6c4a2;
--white:#f1faee;
--font:'pinyon Script', cursive;
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: var(--sage);
    position: relative;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.myLinks {
    display: none;
}
.addClass{
    display: block;
}
/* Style navigation menu links */
.topnav a {
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
    background: var(--sage);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: var(--sage);
    color: var(--white);
}
/* Style the active link (or home/logo) */
.active {
    background-color:var(--sage);
    color: white;
}

/* hero */

.heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    height: 620px;
    width: 100%;
}

h1 {
    font-size: 65px;
    text-align: center;
}

h2 {
    font-size: 32px;
}


/* Venue section */

.venue{
    background-color: var(--sage);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.venue h2{
    font-size:38px ;
    margin-top: 20px;
    margin-bottom: 20px;
}
.venue h3 {
    font-size: 26px;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.venue a:hover{
    text-decoration: underline;
}
.venueImg{
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.rowtonMap{
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
span{
    display: block;
}

/* accommodation */
.accommodation{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.accommodation h3{
    margin-top: 20px;
}

.accommodation h2 {
    margin-top: 20px;
}

.farmBnb p {
    margin-left: 20px;
    margin-right: 20px;
}

.rowtonBarns img,
.farmBnb img {
    max-width: 300px;
    min-height: 100px;
    max-height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
@media only screen and (min-width: 600px) {
    .topnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .topnav a.icon {
        display: none;
    }
    .myLinks{
        display: flex;
    }
    .topnav a {
        font-size: 36px;
        font-family: var(--font);
    }
/* hero */

.heroSection h1{
    font-size: 100px;
}

.heroSection h2 {
    font-size: 52px;
}

/* venue */
.venueImg{
    min-width: 800px;
    max-height: 600px;
    min-height: 500px;
}

.venue h2 {
    font-size: 52px;
}
.rowtonMap {
    min-width: 500px;
    max-height: 500px;
    min-height: 400px;
    margin-top: 20px;
    border-radius: 10px;
}

.venue h3{
    font-size: 32px;
}
}

