*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--sage:#b6c4a2;
--white:#f1faee;
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: var(--sage);
    position: relative;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.myLinks {
    display: none;
}
.addClass{
    display: block;
}
/* Style navigation menu links */
.topnav a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
    background: var(--sage);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: var(--sage);
    color: var(--white);
}
/* Style the active link (or home/logo) */
.active {
    background-color:var(--sage);
    color: white;
}

@media only screen and (min-width: 600px) {
    .topnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .topnav a.icon {
        display: none;
    }
    .myLinks{
        display: flex;
    }
    .topnav a {
        font-size: 24px;
    }

}